<mat-card>
    <mat-card-header><h2>Unit Converter</h2></mat-card-header>
    <mat-card-content>

    <p>Version 1.0</p>
    <br>
    <p>This Converter app was a course work in Web Frameworks autumn 2023.
        Framework stack used was Angular v.17.0. Source code was written with TypeScript using VS Code.
        UI framework used was Angular Material v.17.0
    </p>

    <a routerLink="/" class="toolbar-icon">
        <i class="material-icons">home</i>
      </a>
    </mat-card-content>
    </mat-card>